extends ../base.pug

append vars
	- title = "PiKVM V4 Mini and Plus"

block body
	div(class="content")
		div(class="block")
			h3
				| Thank you for buying PiKVM V4!
			| To make it easier to start using it, we have prepared a simple guide for you.
			| #[h3 #[a(target="_blank" href="https://docs.pikvm.org/v4") >>> PiKVM V4 Getting Started <<<]]
			| Just follow the steps and you will succeed!#[br]
			| And if you encounter difficulties, we will always be happy to help you in our #[a(target="_blank" href=discord_link) Discord chat].
